/* Write your CSS here */

.balance-container {
  background-color: #ecfccb;
  border: 1px solid #84cc16;
  border-radius: 4px;
  width: 180px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-right: 35px;
}

.image {
  width: 40px;
  height: 40px;
}

.details-heading {
  color: #1e293b;
  font-size: 12px;
  font-family: 'Roboto';
}

.money-container {
  display: flex;
  flex-direction: column;
}

.income-container {
  background-color: #cffafe;
  border: 1px solid #06b6d4;
}

.expenses-container {
  background-color: #ede9fe;
  border: 1px solid #7c3aed;
}
